﻿@{
    ViewBag.Title = "Anasayfa";
}


<div class="e-mail">
    <label>Öğrenci:</label> B141210103 Ahmed Berberovic
</div>
<!-- Main Slider Area -->
<div class="main-slider-area home-4-main-slaider-area entire-home-main-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Main Slider -->
                <div class="main-slider">
                    <div class="slider">
                        <div id="mainSlider" class="nivoSlider slider-image">
                            <img src="/Content/img/slider/slider7.jpg" alt="main slider" title="#htmlcaption1" />
                            <img src="/Content/img/slider/slider7.jpg" alt="main slider" title="#htmlcaption2" />
                        </div>
                        <!-- Slider Caption One -->
                        <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
                            <div class="slider-progress"></div>
                            <div class="slide-text">
                                <div class="middle-text">
                                    <div class="cap-dec">
                                        <h1 class="cap-dec wow zoomInRight" data-wow-duration="1.1s" data-wow-delay="0s">Büyük İndirim</h1>
                                        <p class="cap-dec wow zoomInRight" data-wow-duration="1.3s" data-wow-delay="0s"> %70'a varan indirimleri ve kampanya fırsatlar</p>
                                    </div>
                                    <div class="cap-readmore wow zoomInRight" data-wow-duration=".9s" data-wow-delay=".5s">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slider Caption Two -->
                        <div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
                            <div class="slider-progress"></div>
                            <div class="slide-text slide-text-2">
                                <div class="middle-text">
                                    <div class="cap-dec">
                                        <h1 class="wow zoomInUp" data-wow-duration="1.1s" data-wow-delay="0s">Büyük İndirim</h1>
                                        <p class="wow zoomInUp" data-wow-duration="1.3s" data-wow-delay="0s">  %70'a varan indirimleri ve kampanya fırsatlar</p>
                                    </div>
                                    <div class="cap-readmore wow zoomInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
                                        <a href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Main Slider -->
            </div>
            <div class="col-md-12">
                <!-- Main Slider Banner Bottom-->
                <div class="main-slider-bottom-banner">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 banner-add">
                            <a href="#">
                                <img alt="banner" src="/Content/img/banner/b15.png">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 banner-add">
                            <a href="#">
                                <img alt="banner" src="/Content/img/banner/b16.png">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 banner-add">
                            <a href="#">
                                <img alt="banner" src="/Content/img/banner/b17.png">
                            </a>
                        </div>
                    </div>
                </div><!-- End Main Slider Banner Bottom-->
            </div>
        </div>
    </div>
</div><!-- End Main Slider Area -->
<!-- Product area -->
<div class="product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Product Top Bar -->
                <div class="product-top-bar customize-tab-bar">
                    <!-- Tab Button -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#p-bestseller" data-toggle="tab"><i class="fa fa-pencil-square-o"></i>En Çok Satanlar</a></li>
                        <li role="presentation"><a href="#p-new" data-toggle="tab"><i class="fa fa-star"></i>Yeni Ürünler</a></li>
                    </ul><!-- End Tab Button -->
                </div><!-- End Product Top Bar -->
            </div>
            <div class="col-md-12">
                <!-- Single Product area -->
                <div class="single-product-area c-carousel-button">
                    <!-- Tab Content -->
                    <div class="tab-content">
                        <!-- Tab Pane One -->
                        <div class="tab-pane active" id="p-bestseller">
                            <div class="row">
                                <!-- Single Product Carousel-->
                                <div id="single-product-bestseller" class="owl-carousel">
                                    <!-- Start Single Product Column-->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp2.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp1.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp3.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp4.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-sale">İndirim</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price"><span>$205.00</span> $155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp1.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp5.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$167.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp6.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp19.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$333.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp7.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp8.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$80.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp9.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp6.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-sale">İndirim</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price"><span>$124.00</span> $134.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp1.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp2.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp10.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp8.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                </div><!-- End Single Product Carousel-->
                            </div>
                        </div><!-- End Tab Pane One -->
                        <!-- Tab Pane Two -->
                        <div class="tab-pane" id="p-new">
                            <div class="row">
                                <!-- Single Product Carousel-->
                                <div id="single-product-new" class="owl-carousel">
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp15.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp12.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-sale">İndirim</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price"><span>$222.00</span> $143.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp13.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp7.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp17.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp16.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-sale">İndirim</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price"><span>$100.00</span> $70.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp11.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp12.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp16.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp17.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp18.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp18.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-sale">İndirim</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp1.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp2.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp19.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp20.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                </div><!-- End Single Product Carousel-->
                            </div>
                        </div><!-- End Tab Pane Two -->
                        <!-- Tab Pane Three -->
                        <div role="tabpanel" class="tab-pane" id="p-random">
                            <div class="row">
                                <!-- Single Product Carousel-->
                                <div id="single-product-random" class="owl-carousel">
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp20.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp21.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp17.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp11.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-sale">İndirim</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price"><span>$205.00</span> $155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp10.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp2.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp16.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp20.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-sale">İndirim</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price"><span>$80.00</span> $65.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp18.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp19.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp11.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp21.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-sale">İndirim</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp1.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp2.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                    <!-- Start Single Product Column -->
                                    <div class="col-md-3">
                                        <div class="single-product">
                                            <div class="single-product-img">
                                                <a href="#">
                                                    <img class="primary-img" src="/Content/img/product/sp13.jpg" alt="product">
                                                    <img class="secondary-img" src="/Content/img/product/sp5.jpg" alt="product">
                                                </a>
                                                <div class="product-status">
                                                    <span class="product-new">Yeni</span>
                                                </div>
                                            </div>
                                            <div class="single-product-content">
                                                <div class="product-content-head">
                                                    <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                                    <p class="product-price">$155.00</p>
                                                </div>
                                                <div class="product-bottom-action">
                                                    <div class="product-action">
                                                        <div class="action-button">
                                                            <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                        </div>
                                                        <div class="action-view">
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Product Column -->
                                </div><!-- End Single Product Carousel-->
                            </div>
                        </div><!-- End Tab Pane Three -->
                    </div><!-- End Tab Content -->
                </div><!-- End Single Product area -->
            </div>
        </div>
    </div>
</div><!-- End Product area -->
<!-- Brand Product area -->
<div class="brand-products-area">
    <div class="container">
        <div class="row">
            <!-- Brand Product Column -->
            <div class="col-md-6 col-sm-6">
                <div class="brand-products brand-product-shoes c-carousel-button">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="products-head">
                                <div class="products-head-title">
                                    <i class="fa fa-picture-o"></i>
                                    <h2>brand shoes</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Single Product Carousel-->
                        <div id="product-brand-shoes" class="owl-carousel">
                            <!-- Start Single Product Column -->
                            <div class="col-md-6">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="/Content/img/product/sp4.jpg" alt="product">
                                            <img class="secondary-img" src="/Content/img/product/sp9.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                            <p class="product-price">$155.00</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->
                            <!-- Start Single Product Column -->
                            <div class="col-md-6">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="/Content/img/product/sp3.jpg" alt="product">
                                            <img class="secondary-img" src="/Content/img/product/sp19.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                            <p class="product-price"><span>$205.00</span> $155.00</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->
                            <!-- Start Single Product Column -->
                            <div class="col-md-6">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="/Content/img/product/sp2.jpg" alt="product">
                                            <img class="secondary-img" src="/Content/img/product/sp5.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                            <p class="product-price">$155.00</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->
                            <!-- Start Single Product Column -->
                            <div class="col-md-6">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="/Content/img/product/sp6.jpg" alt="product">
                                            <img class="secondary-img" src="/Content/img/product/sp1.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                            <p class="product-price">$155.00</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->
                        </div><!-- End Single Product Carousel -->
                    </div>
                </div>
            </div><!-- End Brand Products Column -->
            <!-- Brand Product Column -->
            <div class="col-md-6 col-sm-6">
                <div class="brand-products c-carousel-button">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="products-head">
                                <div class="products-head-title">
                                    <i class="fa fa-picture-o"></i>
                                    <h2>brand Bag</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Single Product Carousel-->
                        <div id="product-brand-bag" class="owl-carousel">
                            <!-- Start Single Product Column -->
                            <div class="col-md-6">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="/Content/img/product/sp7.jpg" alt="product">
                                            <img class="secondary-img" src="/Content/img/product/sp8.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                            <p class="product-price">$155.00</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->
                            <!-- Start Single Product Column -->
                            <div class="col-md-6">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="/Content/img/product/sp10.jpg" alt="product">
                                            <img class="secondary-img" src="/Content/img/product/sp5.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                            <p class="product-price"><span>$205.00</span> $155.00</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->
                            <!-- Start Single Product Column -->
                            <div class="col-md-6">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="/Content/img/product/sp2.jpg" alt="product">
                                            <img class="secondary-img" src="/Content/img/product/sp5.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                            <p class="product-price">$155.00</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->
                            <!-- Start Single Product Column -->
                            <div class="col-md-6">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#">
                                            <img class="primary-img" src="/Content/img/product/sp6.jpg" alt="product">
                                            <img class="secondary-img" src="/Content/img/product/sp1.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-content-head">
                                            <h2 class="product-title"><a href="#">Cras neque metus</a></h2>
                                            <p class="product-price">$155.00</p>
                                        </div>
                                        <div class="product-bottom-action">
                                            <div class="product-action">
                                                <div class="action-button">
                                                    <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Sepete ekle</span></button>
                                                </div>
                                                <div class="action-view">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Quick view</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Single Product Column -->
                        </div><!-- End Single Product Carousel-->
                    </div>
                </div>
            </div><!-- End Brand Product Column -->
        </div>
    </div>
</div><!-- End Brand Product area -->
<!-- Brand Logo area -->
<div class="brand-logo-area">
    <div class="container">
        <div class="brand-logo">
            <div class="brand-logo-title">
                <h2>Logo brands</h2>
            </div>
            <div id="brands-logo" class="owl-carousel">
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo1.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo5.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo2.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo3.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo4.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo1.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo5.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo3.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo4.png" alt="logo">
                    </a>
                </div>
                <div class="single-brand-logo">
                    <a href="#">
                        <img src="/Content/img/brand-logo/blogo2.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Brand Logo area -->